*png
images/
data/*
ARCHIV/
.idea/
__pycache__/
*training_results/
*training_results_local/
*.zip
*.mat
*.pdf
*.jpg
*.tex
*.log
/SignedDistanceFTR
ftr_derivation.py
*.un~
./lib/NeuralFTR/__pycache__/
